#page{
    transition: all 0.3s;
}

.active-page{
    -webkit-transform: translateX(200px);
    -webkit-transition: all 0.3s;
    -moz-transform: translate(200px);
    -moz-transition: all 0.3s;
    -o-transform: translate(200px);
    -o-transition: all 0.3s;
    transform: translate(200px);
    transition: all 0.3s;
}

.navigation-bar{
	position:fixed;
	width:100%;
	height:50px;
	z-index:100;
	background:rgba(256, 256, 256, 0);
	background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)); /*Safari 5.1-6*/
	background: -o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)); /*Fx 3.6-15*/
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)); /*Standard*/
	color:red;
}

@media only screen and (height: 400px){
	.navigation-bar{
		background: -webkit-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
		background: -o-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
		background: -moz-linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
		background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
	}
}

img{
	height: 800px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header-inset img{
	max-width: 128px;
	max-height: 128px;
}

.paintbrush{
	transform:rotate(-30deg);
	position:relative;
	bottom:100px;
	left:35px;
	-webkit-transition: all .2s; /* Safari  */
	-moz-transition: all .2s;	 /* Mozilla */
	-o-transition: all .2s;    /* Opera   */
    transition: all .2s;
}

.pencil{
	transform:rotate(30deg);
	position:relative;
	bottom:225px;
	right:35px;
	-webkit-transition: all .2s; /* Safari  */
	-moz-transition: all .2s;	 /* Mozilla */
	-o-transition: all .2s;    /* Opera   */
    transition: all .2s;
	
}

.ruler{
	transform:rotate(-45deg);
	position:relative;
	top:40px;
	opacity:1;
	-webkit-transition: all .2s; /* Safari  */
	-moz-transition: all .2s;	 /* Mozilla */
	-o-transition: all .2s;    /* Opera   */
    transition: all .2s;
}

.header{
	height:400px;
	box-shadow: inset 0 0 0 1000px rgba(232,16,16,.95);
	background-image: url(http://1.bp.blogspot.com/-ekww1LcVXnE/VXCA_HeuTZI/AAAAAAAAAVc/TUrQulA6cRg/s1600/CodeSample.tiff);
	text-align:center;
}

.header:hover .ruler, .header:hover .paintbrush, .header:hover .pencil{
	opacity:0;
}

.header:hover .header-inset h1{
	color:rgba(0, 0, 0, 0);
}

.header:hover h4{
	color:rgba(0, 0, 0, 1);
}

.header-inset{
	width:200px;
	height:200px;
	top:100px;
	margin: 0 auto;
	background-color:rgba(230, 230, 230, 1);
	position:relative;
	border-radius:100px;
	box-sizing:border-box;
}

.header-inset h1{
	position:absolute;
	font-size:144px;
	font-family:'Raleway';
	text-align:center;
	left:52px;
	-webkit-transition: all .2s; /* Safari  */
	-moz-transition: all .2s;	 /* Mozilla */
	-o-transition: all .2s;    /* Opera   */
    transition: all .2s;
	
}

.header-inset h4{
	position:absolute;
	font-size:48px;
	font-family:'Raleway';
	top:65px;
	left:15%;
	color:rgba(0, 0, 0, 0);
	-webkit-transition: all .2s;  /* Safari  */
	-moz-transition: all .2s;	 /* Mozilla */
	-o-transition: all .2s;     /* Opera   */
    transition: all .2s;
}

.header-h4{
	position:relative;
	bottom:20px;
	left:240px;
	font-size:24px;
    max-width:inherit;
	font-family:'Raleway';
	color:rgba(0, 0, 0, 0);
	-webkit-transition: all .2s;  /* Safari  */
	-moz-transition: all .2s;	 /* Mozilla */
	-o-transition: all .2s;     /* Opera   */
    transition: all .2s;
}

.menu-item{
	color:white;
	font-size:20px;
	font-family:'Raleway';
	position:relative;
	top:110px;
}

.menu-item:hover{
	text-decoration:none;
	color:white;
	cursor:pointer;
	box-shadow:0px -2px 0 #fff inset;
	-webkit-transition: all .3s;  /* Safari  */
	-moz-transition: all .3s;	 /* Mozilla */
	-o-transition: all .3s;     /* Opera   */
    transition: all .3s;
}

.header a:nth-child(3){
    right:30%;
}

.header a:nth-child(4){
    right:10%;
}

.header a:nth-child(5){
    left:5%;
}

.header a:nth-child(6){
    left:27%;
}

#menuToolbar{
	margin-top:20px;
	margin-left:20px;
	height:40px;
	width:40px;
	border-radius:5px;
	border: solid white;
    background-color:white;
	display:none;
    position:fixed;
	z-index:60;
}

.line{
	display:block;
	width:30px;
	height:2px;
    margin:15px 2px;
    background: red;
    position:relative;
	-webkit-transition: all .5s;  /* Safari  */
	-moz-transition: all .5s;	 /* Mozilla */
	-o-transition: all .5s;     /* Opera   */
    transition: all .5s;
}

.line::before, .line::after{
    content: " ";
    display: block;
    width: 30px;
    height: 2px;
    background: red;
    position: absolute;
    z-index:1;
	-webkit-transition: all .5s;  /* Safari  */
	-moz-transition: all .5s;	 /* Mozilla */
	-o-transition: all .5s;     /* Opera   */
    transition: all .5s;
}

.line::before{
    top:-9px;
}

.line::after{
    top:9px;
}

.nav-active .line{
    background:none;
}

.nav-active .line::before{
    top:0 !important;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-active .line::after{
    top:0 !important;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menuToolbar:hover{
	cursor: pointer;
}

#menuToolbar:hover .line::before{
    top:-11px;
}

#menuToolbar:hover .line::after{
    top:11px;
}

.sidebar{
    position: fixed;
    display:none;
    width: 200px;
    height: 100%;
    z-index:50;
    padding-top:20px;
    background-color: white;
    -webkit-transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    -moz-transform: translate(-100%);
    -moz-transition: all 0.3s;
    -o-transform: translate(-100%);
    -o-transition: all 0.3s;
    transform: translate(-100%);
    transition: all 0.3s;
}

.sidebar hr{
    border-top:1px solid red;
    position:relative;
    right:10px;
}

.sidebar li{
    text-decoration:none;
    font-size: 16px;
    font-family:'Raleway';
    display: block;
    cursor:pointer;
    color: red;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    transition: all 0.3s;
}

.sidebar li:hover{
    -webkit-transform: scale(1.2);
    -webkit-transition: all 0.3s;
    -moz-transform: scale(1.2);
    -moz-transition: all 0.3s;
    -o-transform: scale(1.2);
    -o-transition: all 0.3s;
    transform: scale(1.2);
    transition: all 0.3s;
    color:red;
    text-decoration:none;
    position:relative;
    padding-left:10%;
}

.active-sidebar{
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

hr{
	width:80%;
}

.section{
	width:100%;
	padding-bottom:50px;
}

.section h2{
	color:#bbbbbb;
	font-family:'Raleway', arial;
	text-align:center;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
   *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML += '<div class="ie7-clear"></div>' );
}

.row-text{
	width:50%;
	padding:5%;
	height:390px;
    background:#ffffff;
}

.row-text h6{
	font-size:20px;
	font-family:'Raleway';
	color:red;
}

.row-text p{
	display:inline-block;
	font-size:14px;
	font-family:'Raleway';
}

.row-image{
	width:50%;
	padding:3%;
	height:390px;
	min-width:500px;
    background:#ffffff;
}

.row-image img{
	height:300px;
	position:relative;
	width:500px;
	padding:10px;
	border: 1px dotted #dddddd;
	float:right;
}

.odd-row{
	background-color:rgb(255, 235, 235);
}

.row-text:nth-child(3){
	float:left;
}

.row-image:nth-child(4){
	float:right;
}

.row-image:nth-child(5){
	float:left;
}

.row-text:nth-child(6){
	float:right;
}

.row-text:nth-child(7){
	float:left;
}

.row-image:nth-child(8){
	float:right;
}

.verticalLine{
	float:right;
	position:relative;
	top:-60px;
	right: 15%;
	font-size:256px;;
	font-weight:100;
	text-align:center;
	width:25px;
	overflow:hidden;
	color:#eeeeee;
}

.img-offscreen{
	height:300px;
	position:relative;
	right:-300px;
	-webkit-transition: all 1s; /* Safari */
	-moz-transition: all 1s;
	-o-transition: all 1s;
    transition: all 1s;
}

.img-offscreen:hover{
	right:230px;
}

.project{
	width:400px;
	min-height:500px;
	margin-left:10%;
	float:left;
	-webkit-transition: width 1s, height 1s; /* Safari */
	-moz-transition: width 1s, height 1s;
	-o-transition: width 1s, height 1s;
    transition: width 1s, height 1s;
}

.right-project{
	float:right;
	margin-right:10%;
	margin-left:5%;
}

.project:hover{
	height:550px;
}

.project h5{
	font-size:24px;
	text-align:center;
}

.project h5, .project p{
	padding-left:10px;
	padding-right:10px;
}

.project img{
	width:100%;
    height: auto;
	filter: grayscale(1);
	-webkit-transition: all 1s; /* Safari  */
	-moz-transition: all 1s;	 /* Mozilla */
	-o-transition: all 1s;    /* Opera   */
    transition: all 1s;
}

.project:hover img{
	filter: grayscale(0);
}

.project:hover .publish{
	color:rgba(187, 187, 187, 1);
    margin-top: 100px;
	visibility:visible;
    -webkit-transition-delay: 1s; /* Safari  */
	-moz-transition-delay: 1s;   /* Mozilla */
	-o-transition-delay: 1s;    /* Opera   */
    transition-delay: 1s;
}

.box-shadow{
	position: relative;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5), 0px 0px 50px rgba(0, 0, 0, .3);
    background: white;
}

.publish{
    position:absolute;
    left:0;
    bottom:0;
	font-size:20px;
	color:rgba(0, 0, 0, 0);
	visibility:hidden;
	-webkit-transition: color 1s, visibility .2s; /* Safari  */
	-moz-transition: color 1s, visibility .2s;	 /* Mozilla */
	-o-transition: color 1s, visibility .2s;    /* Opera   */
    transition: color 1s, visibility .2s;
}

.accordion-drop{
	padding-left: 1%;
	font-family:'Raleway';
	margin-top:0px;
}

.accordion-drop h3{
	margin:0px;
	padding-top:20px;
	padding-bottom:10px;
    padding-right:30px; 
}

.accordion-drop h3::before{
	content:'- ';
}

.accordion-drop span{
	float:right;
	top:-30px;
	-webkit-transition: all .6s;  /* Safari  */
	-moz-transition: all .6s;	 /* Mozilla */
	-o-transition: all .6s;     /* Opera   */
    transition: all .6s;
}

.accordion-drop:hover{
	cursor:pointer;
	background-color:#eee;
}

.accordion-drop p{
	padding-left:7%;
}

.accordion-content{
	line-height:24px;
	max-width:1000px;
	color:rgba(0, 0, 0, 1);
	-webkit-transition: all .6s;  /* Safari  */
	-moz-transition: all .6s;	 /* Mozilla */
	-o-transition: all .6s;     /* Opera   */
    transition: all .6s;
}

footer{
    background:#181719;
    width:100%;
}

.footer{
    width:92.5%;
	background: #181719;
    margin-left: 7.5%;
	color: white;
}

.footer a{
	line-height:24px;
	color:white;
}

a:hover{
	color:red;
	text-decoration:none;
}

a:link{
	text-decoration:none;
}

a:active{
	text-decoration:none;
	color:red;
}

.footer-panel{
	height:250px;
	width:330px;
	font-family: arial,futura-pt,sans-serif;
	padding-top:70px;
	padding-right:5px;
	padding-left:5px;
	float:left;
	background-color:#181719;
}

.med-footer-panel{
    width:50%;
    min-width:315px;
}

.med-bottom-panel{
    width:100%;
    text-align:center;
    position:relative;
    right:3.75%;
}

.med-bottom-panel h4{
    font-size:48px;
}

@media only screen and (max-width: 1100px){
    .project{
        width:300px;
    }
}

@media only screen and (max-width: 1087px){
	.footer-panel{
        
	}
}

@media only screen and (max-width: 1020px){
    .row-text{
        text-align:center;
        width:100%;
        position:relative;
        padding-left:10%;
        padding-right:10%;
        height:16.66%;
    }
    .row-image{
        width:100%;
        height:16.66%;
        min-width:100px;
    }
    .row-image img{
        float:initial;
        display:block;
        margin:auto;
        height:initial;
        width:70%;
    }
    .odd-row h6{
        margin-top:30px;
    }
    .odd-row img{
        width:70%;
    }
    .row-text:nth-child(6){
        float:left;
    }
    .header a:nth-child(3){
        right:20%;
    }
    .header a:nth-child(5){
        left:0%;
    }
    .header a:nth-child(6){
        left:10%;
    }
}

@media only screen and (max-width: 800px){
	 .footer-panel{
	}
    .project{
        width:80%;
        float:initial;
        margin:auto;
        margin-top:50px;
        margin-bottom:50px;
    }
    .header-h4{
        font-size:18px;
        left:205px;
    }
}

@media only screen and (max-width: 698px){
    .footer-panel{
        
    }
    .med-footer-panel{
        width:75%;
        min-width:315px;
    }
}

@media only screen and (max-width: 600px){
    #menuToolbar{
        display:block;
    }
    .menu-item{
        display:none;
    }
    .accordion-drop h3{
        font-size:20px;
    }
    .project h5{
        font-size:20px;
    }
    .sidebar{
        display:block;
    }
    .header-h4{
        bottom:-100px;
        left:0px;
        font-size:24px;
    }
}

.footer-panel h4{
	font-family:helvetica;
	font-family:'Raleway';
	font-weight:700;
}

.footer-links{
	padding-left:10px;
	font-family:inherit;
}

.footer-links a:hover{
	text-decoration:none;
	color:red;
}

.sub-footer{
	width:100%;
	float:left;
	font-family:inherit;
}

.sub-footer p{
	padding-bottom:30px;
}

.sub-divider{
	float:left;
	font-family:inherit;
}

button{
	background:white;
	border:none;
	width:100%;
	text-align:left;
	-webkit-transition: all .6s; /* Safari  */
	-moz-transition: all .6s;	 /* Mozilla */
	-o-transition: all .6s;    /* Opera   */
    transition: all .6s;
	outline:0;
}